div{
    background-color: #3d405b;
border: 2px solid black;
width: 100px;
height: 100px;  
display: inline-block;
margin: 10px;
}
#middle{
    background-color: #81b29a;
}
#static #middle {
    position:static ;
    top: 100px;
    left: ;
}
#relative #middle {
    position:relative ;
    top: 50px;
    left: 50px;
}
#absolute{
    position: relative;
}
#absolute #middle {
    position:relative ;
    top: 1px;
    left: 1px;
}
#fixed #middle {
    position:fixed;
    top: 0px;
    left:400px ;
}